@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Pretendard', system-ui, sans-serif;
  background-color: #f4f4f4;
  color: #191f28;
  letter-spacing: -0.3px;
  -webkit-font-smoothing: antialiased;
}